<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218069783723-mokmh1hveqnsf49eod00jo3fljq8uum1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218069783723-mokmh1hveqnsf49eod00jo3fljq8uum1</string>
	<key>API_KEY</key>
	<string>AIzaSyDvA1R96SQjQskI_ZBvj5iv8zPgUY4j1Mc</string>
	<key>GCM_SENDER_ID</key>
	<string>218069783723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SixCreative.Encore</string>
	<key>PROJECT_ID</key>
	<string>encoretouring</string>
	<key>STORAGE_BUCKET</key>
	<string>encoretouring.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218069783723:ios:4f00b63dbdc35df49153ee</string>
</dict>
</plist>